<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer>
    <div class="footer" id="footer">
        <div class="container" style="background-color: rgba(255,255,255,0.50)">
            <div class="row">
                <div class="col-xs-3 col-xs-offset-1">
                    <h3> Links </h3>
                    <ul>
                        <li><a style="color: #932BA6" href="Contact.jsp"> <h4>Contact</h4> </a></li>
                        <li><a style="color: #932BA6" href="Service.jsp"> <h4>Service</h4> </a></li>
                        <li><a style="color: #932BA6" href="AdminPage.jsp"> <h4>Admin</h4> </a></li>
                    </ul>
                </div>

                <div class="col-xs-3">
                    <h3> Lorem </h3>
                    <ul>
                        <li><a style="color: #932BA6" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"> <h4>Ipsum</h4> </a></li>
                        <li><a style="color: #932BA6" href="https://www.youtube.com/watch?v=kffacxfA7G4"> <h4>Dolar</h4> </a></li>
                    </ul>
                </div>


                <div class="col-xs-5">
                    <h3>
                        <a href="https://twitter.com/concordia053" style="color: cornflowerblue"><i class="fa fa-twitter"></i> Twitter</a></h3>
                    <h3>
                        <a href="https://www.facebook.com/concordia053/" style="color: darkblue"><i class="fa fa-facebook"></i> Facebook</a></h3>
                    <h3>
                        <a href="https://www.youtube.com/user/Concordia053" style="color: #ab0000"><i class="fa fa-youtube"></i> YouTube</a></h3>
                </div>
            </div>

            <div class="footer-copyright">
                <div class="container">
                    <p class="pull-right"> Copyright © 2017, Group 4. All rights reserved.</p>
                </div>
            </div>

        </div>
    </div>
    <!--/.footer-bottom-->
</footer>
