<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>Concordia04</display-name>
  <welcome-file-list>
    <welcome-file>HomePage.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>LoginProcess</display-name>
    <servlet-name>LoginProcess</servlet-name>
    <servlet-class>servlets.LoginProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginProcess</servlet-name>
    <url-pattern>/LoginProcess</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>servlets.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>SignUpNew</display-name>
    <servlet-name>SignUpNew</servlet-name>
    <servlet-class>servlets.SignUpNew</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpNew</servlet-name>
    <url-pattern>/SignUpNew</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>javax.ws.rs.core.Application</servlet-name>
  </servlet>
  <servlet-mapping>
    <servlet-name>javax.ws.rs.core.Application</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEventsServlet</display-name>
    <servlet-name>AdminEventsServlet</servlet-name>
    <servlet-class>AdminDashBoard.AdminEventsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEventsServlet</servlet-name>
    <url-pattern>/AdminEventsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AdminLogout</display-name>
    <servlet-name>AdminLogout</servlet-name>
    <servlet-class>servlets.AdminLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogout</servlet-name>
    <url-pattern>/AdminLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>GetSecurityQuestion</display-name>
    <servlet-name>GetSecurityQuestion</servlet-name>
    <servlet-class>servlets.GetSecurityQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSecurityQuestion</servlet-name>
    <url-pattern>/GetSecurityQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ResetPassword</display-name>
    <servlet-name>ResetPassword</servlet-name>
    <servlet-class>servlets.ResetPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPassword</servlet-name>
    <url-pattern>/ResetPassword</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <display-name>addArticle</display-name>
    <servlet-name>addArticle</servlet-name>
    <servlet-class>servlets.addArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addArticle</servlet-name>
    <url-pattern>/addArticle</url-pattern>
  </servlet-mapping>
  
     <servlet>
        <display-name>DispatcherServlet</display-name>
        <servlet-name>DispatcherServlet</servlet-name>
        <servlet-class>servlets.DispatcherServlet</servlet-class>
    </servlet>
    
     <servlet-mapping>
        <servlet-name>DispatcherServlet</servlet-name>
        <url-pattern>/DispatcherServlet</url-pattern>
    </servlet-mapping>
    
      
     <servlet>
        <display-name>BuyTicket</display-name>
        <servlet-name>BuyTicket</servlet-name>
        <servlet-class>servlets.BuyTicket</servlet-class>
    </servlet>
    
     <servlet-mapping>
        <servlet-name>BuyTicket</servlet-name>
        <url-pattern>/BuyTicket</url-pattern>
    </servlet-mapping>

</web-app>